on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ hashFiles('package-lock.json') }}
      - run: npm install
      - name: build
        run: npm run build
      - uses: actions/cache/save@v5
        with:
          path: dist
          key: dist-${{ github.sha }}

  lint:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/cache@v5
        with:
          path: "**/node_modules"
          key: ${{ hashFiles('package-lock.json') }}
      - uses: actions/cache/restore@v5
        with:
          path: dist
          key: dist-${{ github.sha }}
      - name: lint
        run: npm run lint

  test:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/cache@v5
        with:
          path: "**/node_modules"
          key: ${{ hashFiles('package-lock.json') }}
      - uses: actions/cache/restore@v5
        with:
          path: dist
          key: dist-${{ github.sha }}
      - name: test
        run: npm run test

  publish:
    runs-on: ubuntu-latest
    needs:
      - build
      - lint
      - test
    if: startsWith(github.ref, 'refs/tags/')
    strategy:
      matrix:
        registry-url:
          - https://npm.pkg.github.com
          - https://registry.npmjs.org
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        if: ${{ matrix.registry-url == 'https://npm.pkg.github.com' }}
        with:
          node-version: 24
          registry-url: ${{ matrix.registry-url }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@v6
        if: ${{ matrix.registry-url == 'https://registry.npmjs.org' }}
        with:
          node-version: 24
          registry-url: ${{ matrix.registry-url }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN }}

      - uses: actions/cache@v5
        with:
          path: "**/node_modules"
          key: ${{ hashFiles('package-lock.json') }}
      - uses: actions/cache/restore@v5
        with:
          path: dist
          key: dist-${{ github.sha }}
      - run: npm publish --registry ${{ matrix.registry-url }} --access public
